.section dl.py:not(:first-of-type) {
    margin-top: 1.5em;
}

.strike {
    text-decoration: line-through;
}

.strong {
    font-weight: bold;
}

.em {
    font-style: italic;
}

.red {
    color: #f00;
}

.spoiler {
    color: #000;
    background-color: #000;
}
